@import "tailwindcss";

@font-face {
  font-family: "press-start-2p";
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pixel-grid-medium";
  src: url('./fonts/pixelgrid-squareboldm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pixel-grid-semibold";
  src: url('./fonts/pixelgrid-squarebolds.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pixel-grid-bold";
  src: url('./fonts/pixelgrid-squareboldxl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Font Family Variables */
  --font-press-start: "press-start-2p", monospace;
  --font-pixel-grid-medium: "pixel-grid-medium", sans-serif;
  --font-pixel-grid-semibold: "pixel-grid-semibold", sans-serif;
  --font-pixel-grid-bold: "pixel-grid-bold", sans-serif;
}

